img {
    max-width: 100%;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

#app {
    height: 100vh;
    overflow: hidden;
}

/* LAYOUT */

.header {
    height: 5%;
}

.page {
    height: 95%;
}

.mobile_logo {
    width: 32px;
}

/* .content_header {
    height: 10%;
}

.content_main {
    height: 100%;
    overflow-y: auto;
} */



/* UTILITY */

.bg-gray {
    background-color: #E5E5E5;
}

.btn, .badge {
    background-color: #165BBA;
    color: white;
}

/* HEADER */

.header {
    padding-top: 5px;
}

.header_img {
    padding: 0px 50px;
}

.items > * {
    padding-left: calc(50% / 4)
}

/* SIDEBAR */

.sidebar {
    width: 70px;
    height: 100%;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    color: white;
}

.sidebar_nav {
    row-gap: 750px;
}

/* NAV */

.nav_items > *{
    display: inline-block;
    padding: 5px 0px;
}

/* CONTENT */

.content {
    flex-grow: 1;
}

/* CONTENT HEADER */

/* CONTENT MAIN */



/* MEDIAQUERY */

@media (min-width:768px) {
    .content_header {
        height: 20%;
    }
}

@media (min-width:992px) {
    .sidebar {
        width: 150px;
    }
}   


/* DEBUG */

.debug header {
    background-color: gray;
}

.debug .content_header {
    background-color: #1B72E8;
}

.debug footer {
    background-color: greenyellow;
}

.debug .content_main{
    background-color: blueviolet;
}